<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/Admin/layout:: viewAdmin(~{::body})}">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!-- Meta, title, CSS, favicons, etc. -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="images/favicon.ico" type="image/ico" />




</head>

<body ng-app="reportApp" ng-controller="reportCtrl">


	<!-- page content -->
	<div class="right_col" role="main">
		<div class="">
			<div class="page-title">
				<div class="title_left">
					<h3>
						Thống Kê Doanh Thu <small></small>
					</h3>
				</div>

				<div class="title_right">
					<div
						class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
						<div class="input-group">
							<input type="text" class="form-control"
								placeholder="Search for..."> <span
								class="input-group-btn">
								<button class="btn btn-secondary" type="button">Go!</button>
							</span>
						</div>
					</div>
				</div>
			</div>

			<div class="clearfix"></div>

			<div class="row">
				<div class="col-md-12 col-sm-12 ">
					<div class="x_panel">
						<div class="x_title">
							<h2>
								Bảng Thống Kê Doanh Thu <small></small>
							</h2>
							<ul class="nav navbar-right panel_toolbox">
								<li><a class="collapse-link"><i
										class="fa fa-chevron-up"></i></a></li>

								<li><a class="close-link"><i class="fa fa-close"></i></a></li>
							</ul>
							<div class="clearfix"></div>
						</div>
						<div class="row">
							<div class="col-4 form-group">
								<label>Tháng</label> <select ng-model="thang"
									class="form-control">
									<option ng-value="0" selected="selected">Tất cả</option>
									<option th:each="i: ${#numbers.sequence(1, 12)}" th:text="${i}"></option>
								</select> <br>
								<button class=" btn btn-info" ng-click="getDoanhThu()">Lọc</button>
							</div>
							<div class="col-4 form-group">
								<label>Năm</label> <select ng-model="nam" class="form-control">
									<option selected="selected" ng-value="0">Tất cả</option>
									<option ng-repeat="year in years">{{year}}</option>
								</select>
							</div>
							<div class="col-4 form-group">
								<label>Trạng Thái</label> <select ng-model="trangThai"
									class="form-control">

									<option ng-value="3" selected="selected">Đã giao</option>
									<option ng-value="2">Đang giao</option>
								</select>
							</div>

						</div>
						<div class="x_content">
							<div class="row">
								<div class="col-sm-12">
									<div class="card-box table-responsive">

										<table id="datatable"
											class="table table-striped table-bordered"
											style="width: 100%">
											<thead>
												<tr>
													<th>Tên sản phẩm</th>
													<th>Tổng Số Lượng Bán</th>
													<th>Tổng Tiền</th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="item in doanhThu">
													<td>{{item.tenSanPham}}</td>
													<td>{{item.soLuong}}</td>
													<td>{{item.tongTien | number :0}} VNĐ</td>
												</tr>
											</tbody>
											<tfoot>
												<tr>
													<td colspan="3">Tổng: {{total() |number : 0}} VNĐ</td>
												</tr>
											</tfoot>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>



			</div>

		</div>

		<script th:src="@{/js/management/report.js}"></script>
</body>
</html>
