<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/Admin/layout:: viewAdmin(~{::body})}">
<head>
<meta charset="utf-8">
<head>

</head>

<body>
	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div
				class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Welcome To Page Admin</h1>
				</div>
			</div>
		</div>
	</section>

	<div class="col-md-10 offset-1">
		<form action="#" 
			class=" col-6 offset-1 order-rable d-flex">
			<input th:name="name" type="text" class="form-control"
				id="search_input" placeholder="Tên Khách Hàng">
			<button type="submit" class="btn btn-success offset-1">tìm</button>

		</form>
		<h2 class="text-success">Quản lý đơn hàng</h2>
		<table class="table table-bordered table-default">
			<tr>
				<th>Mã hóa đơn</th>
				<th>Tên khách</th>
				<th>Email khách</th>
				<th>Ngày lập</th>
				<th>Ngày cập nhật trạng thái</th>
				<th>Trạng thái</th>
				<th>Action</th>
			</tr>
		

				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>

				</tr>
			
		</table>
		
	</div>
</body>

</html>