<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/Admin/layout:: viewAdmin(~{::body})}">
<head>
<meta charset="utf-8">
<head>
<!-- Mobile Specific Meta -->
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Favicon-->
<link rel="shortcut icon" href="img/fav.png">
<!-- Author Meta -->
<meta name="author" content="CodePixar">
<!-- Meta Description -->
<meta name="description" content="">
<!-- Meta Keyword -->
<meta name="keywords" content="">
<!-- meta character set -->
<meta charset="UTF-8">
<!-- Site Title -->
<title>T electronic device</title>

<!--
		CSS
		============================================= -->


</head>

<body>

	

	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div
				class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>
						Welcome To Customer <br> Rank management
					</h1>

				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

	<!--================Login Box Area =================-->
	<section class="login_box_area section_gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="login_box_img">
						<img class="img-fluid" src="/img/login.jpg" alt="">
						<div class="hover">
							<h4>New Customer Rank?</h4>
							<p>This is the page to add new Rank</p>
							<br>
							<p>And this is the page to list customer rank</p>
							<a class="primary-btn" href="/admin/customerRanktabled">Customer
								Rank Details</a>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="login_form_inner">
						<h3>Costumer Form</h3>
						<form class="row login_form" action="#" method="post" id="contactForm" >
							<div class="col-md-12 form-group p_star">
								<label class="pull-left">Mã Hạng</label> <input
									type="text" class="form-control" readonly="true">

							</div>
							<div class="col-md-12 form-group p_star">
								<label class="pull-left">Tên Hạng</label> <input type="text"
									class="form-control">

							</div>
							<div class="col-md-12 form-group p_star">
								<label class="pull-left">Điểm Tối Thiểu</label> <input
									type="text" class="form-control">

							</div>

							<div class="col-md-12 form-group p_star">
								<label class="pull-left">Mô Tả</label> <input type="text"
									class="form-control">

							</div>


							<div class="col-md-12 form-group p_star">
								<div class="creat_account" style="display: none;">
									<input type="radio" id="f-option1" name="selector"
										value="option1"> <label for="f-option1">Lựa
										Chọn 1</label> <input type="radio" id="f-option2" name="selector"
										value="option2"> <label for="f-option2">Lựa
										Chọn 2</label>
								</div>
							</div>
							<div class="col-md-12 form-group">

								<button type="save" value="save" class="primary-btn">Save</button>


							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		</div>
	</section>






	<script src="js/vendor/jquery-2.2.4.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
		integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
		crossorigin="anonymous"></script>
	<script src="js/vendor/bootstrap.min.js"></script>
	<script src="js/jquery.ajaxchimp.min.js"></script>
	<script src="js/jquery.nice-select.min.js"></script>
	<script src="js/jquery.sticky.js"></script>
	<script src="js/nouislider.min.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<!--gmaps Js-->
	<script
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
	<script src="js/gmaps.min.js"></script>
	<script src="js/main.js"></script>
</body>

</html>