<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/Admin/layout:: viewAdmin(~{::body})}">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="images/favicon.ico" type="image/ico" />

   
   
  </head>

  <body >
   
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3> Bảng Hạng <small>nơi lưu trữ thông tin hạng</small></h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-secondary" type="button">Go!</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Bảng Hạng <small>Ranks </small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
             
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                      <div class="row">
                          <div class="col-sm-12">
                            <div class="card-box table-responsive">
                   
                    <table id="datatable" class="table table-striped table-bordered" style="width:100%">
                      <thead>
                        <tr>
                          <th>Mã Hạng</th>
                          <th>Tên Hạng</th>
                          <th>Điểm Tối Thiểu</th>
                          <th>Mô Tả</th>
                          <th>Action</th>
                          
                        </tr>
                      </thead>


                      <tbody>
                        <tr>
                          <td>1</td>
                          <td>Khách Hàng Ưu Tú</td>
                          <td>3000</td>
                          <td>Hạng này dành cho khách hàng có số điểm tối thiểu 3000</td>
                        
                          <td>
                            <a class="btn btn-warning">Sửa</a> <a><span
								class="btn btn-danger">Xoá</span></a>
                                
                            </td>
                              
                          
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Khách Hàng Thân Thiết</td>
                            <td>2500</td>
                            <td>Hạng này dành cho khách hàng có số điểm tối thiểu 2500</td>
                          
                            <td>
                              <a class="btn btn-warning">Sửa</a> <a><span
                                  class="btn btn-danger">Xoá</span></a>
                                  
                              </td>
                                
                            
                          </tr>
                          <tr>
                            <td>3</td>
                            <td>Khách Hàng Thân Quen</td>
                            <td>1500</td>
                            <td>Hạng này dành cho khách hàng có số điểm tối thiểu 1500</td>
                          
                            <td>
                              <a class="btn btn-warning">Sửa</a> <a><span
                                  class="btn btn-danger">Xoá</span></a>
                                  
                              </td>
                                
                            
                          </tr>
                       
                       

                      
                       
                      </tbody>
                    </table>
                  </div>
                  </div>
              </div>
            </div>
                </div>
              </div>


             
            </div>
          </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
      
        <!-- /footer content -->
    

  </body>
</html>