<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/Admin/layout:: viewAdmin(~{::body})}">
<head>

</head>

<body ng-app="orderMngt" ng-controller="orderMngtCtrl">

	<!-- /top navigation -->

	<!-- page content -->
	<div class="right_col" role="main">
		<div class="">
			<div class="page-title">
				<div class="title_left">
					<h3>
						Quản Lý Đơn Hàng <small>nơi lưu trữ thông tin đơn hàng</small>
					</h3>
				</div>

				<div class="title_right">
					<div
						class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
						<div class="input-group">
							<input type="text" class="form-control"
								placeholder="Search for..."> <span
								class="input-group-btn">
								<button class="btn btn-secondary" type="button">Go!</button>
							</span>
						</div>
					</div>
				</div>
			</div>

			<div class="clearfix"></div>

			<div class="row">
				<div class="col-md-12 col-sm-12 ">
					<div>

						<ul class="nav nav-tabs">
							<li role="nav-item" class="active"><a href="#choXuLy"
								class="nav-link active" role="tab" data-toggle="tab"> Chờ xử
									lý <span class="badge bg-blue-sky">{{(items | filter: {
										trangThai: 1 }).length}}</span>
							</a></li>
							<li role="nav-item"><a href="#dangGiao" class="nav-link"
								role="tab" data-toggle="tab">Đang giao <span
									class="badge bg-blue">{{(items | filter: { trangThai: 2
										}).length}}</span></a></li>
							<li role="nav-item"><a href="#giaoThanhCong"
								class="nav-link" role="tab" data-toggle="tab">Giao thành
									công <span class="badge bg-green">{{(items | filter: {
										trangThai: 3 }).length}}</span>
							</a></li>
							<li role="nav-item"><a href="#daHuy" class="nav-link"
								role="tab" data-toggle="tab">Đã hủy <span
									class="badge bg-orange">{{(items | filter: { trangThai:
										4 }).length}}</span></a></li>
							<li role="nav-item"><a href="#yeuCauHuy" class="nav-link"
								role="tab" data-toggle="tab">Yêu cầu hủy <span
									class="badge bg-purple">{{(items | filter: { trangThai:
										5 }).length}}</span></a></li>
						</ul>
						<div>
							<div class="row">
								<div class="col-sm-12">
									<div>
										<div class="tab-content">
											<div role="tabpanel" id="choXuLy" class="tab-pane active">
												<table role="tabpanel"
													class="table table-striped table-bordered"
													style="width: 100%">
													<thead>
														<tr>
															<th>Mã đơn hàng</th>
															<th>Người mua</th>
															<th>Ngày đặt hàng</th>
															<th>Địa chỉ nhận hàng</th>
															<th>Ngày thanh toán</th>
															<th>Action</th>
														</tr>
													</thead>
													<tbody>
														<tr ng:repeat="dh in items" ng-if="dh.trangThai == 1">
															<td>{{dh.id}}</td>
															<td>{{dh.nguoiMua.email.email}}</td>
															<td>{{dh.ngayLap | date: "dd/MM/yyyy, HH:mm"}}</td>
															<td>{{dh.diaChi.dcChiTiet}},{{dh.diaChi.phuong}},{{dh.diaChi.quan}},{{dh.diaChi.tinh}}</td>
															<td>{{dh.ngayThanhToan | date: "dd/MM/yyyy, HH:mm"}}</td>

															<td><a class="btn btn-success btn-block"
																ng-click="huyDon(dh.id)">Hủy đơn</a> <a
																class="btn btn-info btn-block"
																ng-click="vanChuyen(dh.id)">Xác nhận đang vận chuyển</a>
																<a data-toggle="modal" data-target="#seeMessage"
																class="btn btn-warning btn-block"
																ng-click="invoiceDetail(dh.id)">Chi tiết</a></td>
														</tr>
													</tbody>
												</table>
											</div>
											<!-- ĐANG GIAO -->
											<div role="tabpanel" id="dangGiao" class="tab-pane">
												<table role="tabpanel"
													class="table table-striped table-bordered"
													style="width: 100%">
													<thead>
														<tr>
															<th>Mã đơn hàng</th>
															<th>Người mua</th>
															<th>Ngày đặt hàng</th>
															<th>Địa chỉ nhận hàng</th>
															<th>Ngày thanh toán</th>
															<th>Action</th>
														</tr>
													</thead>
													<tbody>
														<tr ng:repeat="dh in items" ng-if="dh.trangThai == 2">
															<td>{{dh.id}}</td>
															<td>{{dh.nguoiMua.email.email}}</td>
															<td>{{dh.ngayLap | date: "dd/MM/yyyy, HH:mm"}}</td>
															<td>{{dh.diaChi.dcChiTiet}},{{dh.diaChi.phuong}},{{dh.diaChi.quan}},{{dh.diaChi.tinh}}</td>
															<td>{{dh.ngayThanhToan | date: "dd/MM/yyyy, HH:mm"}}</td>
															<td><a data-toggle="modal" data-target="#seeMessage"
																class="btn btn-warning btn-block"
																ng-click="invoiceDetail(dh.id)">Chi tiết</a> <br> <a
																class="btn btn-success btn-block"
																ng-click="hoanTat(dh.id)">Xác nhận giao hàng thành
																	công</a></td>
														</tr>
													</tbody>
												</table>
											</div>
											<!-- ĐÃ GIAO -->
											<div role="tabpanel" id="giaoThanhCong" class="tab-pane">
												<table role="tabpanel"
													class="table table-striped table-bordered"
													style="width: 100%">
													<thead>
														<tr>
															<th>Mã đơn hàng</th>
															<th>Người mua</th>
															<th>Ngày đặt hàng</th>
															<th>Địa chỉ nhận hàng</th>
															<th>Ngày thanh toán</th>
															<th>Action</th>
														</tr>
													</thead>
													<tbody>
														<tr ng:repeat="dh in items" ng-if="dh.trangThai == 3">
															<td>{{dh.id}}</td>
															<td>{{dh.nguoiMua.email.email}}</td>
															<td>{{dh.ngayLap | date: "dd/MM/yyyy, HH:mm"}}</td>
															<td>{{dh.diaChi.dcChiTiet}},{{dh.diaChi.phuong}},{{dh.diaChi.quan}},{{dh.diaChi.tinh}}</td>
															<td>{{dh.ngayThanhToan | date: "dd/MM/yyyy, HH:mm"}}</td>
															<td><a data-toggle="modal" data-target="#seeMessage"
																class="btn btn-warning btn-block"
																ng-click="invoiceDetail(dh.id)">Chi tiết</a>
														</tr>
													</tbody>
												</table>
											</div>
											<!-- YÊU CẦU HỦY -->
											<div role="tabpanel" id="yeuCauHuy" class="tab-pane">
												<table role="tabpanel"
													class="table table-striped table-bordered"
													style="width: 100%">
													<thead>
														<tr>
															<th>Mã đơn hàng</th>
															<th>Người mua</th>
															<th>Ngày đặt hàng</th>
															<th>Địa chỉ nhận hàng</th>
															<th>Ngày thanh toán</th>
															<th>Action</th>
														</tr>
													</thead>
													<tbody>
														<tr ng:repeat="dh in items" ng-if="dh.trangThai == 5">
															<td>{{dh.id}}</td>
															<td>{{dh.nguoiMua.email.email}}</td>
															<td>{{dh.ngayLap | date: "dd/MM/yyyy, HH:mm"}}</td>
															<td>{{dh.diaChi.dcChiTiet}},{{dh.diaChi.phuong}},{{dh.diaChi.quan}},{{dh.diaChi.tinh}}</td>
															<td>{{dh.ngayThanhToan | date: "dd/MM/yyyy, HH:mm"}}</td>
															<td><a data-toggle="modal" data-target="#seeMessage"
																class="btn btn-warning btn-block"
																ng-click="invoiceDetail(dh.id)">Chi tiết</a> <a
																class="btn btn-success btn-block"
																ng-click="huyDon(dh.id)">Đồng ý</a> <a
																class="btn btn-success btn-block"
																ng-click="khongHuyDon(dh.id)">Từ chối</a></td>
														</tr>
													</tbody>
												</table>
											</div>

											<!-- Đã hủy -->
											<div role="tabpanel" id="daHuy" class="tab-pane ">
												<table role="tabpanel"
													class="table table-striped table-bordered"
													style="width: 100%">
													<thead>
														<tr>
															<th>Mã đơn hàng</th>
															<th>Người mua</th>
															<th>Ngày đặt hàng</th>
															<th>Địa chỉ nhận hàng</th>
															<th>Ngày thanh toán</th>
															<th>Action</th>
														</tr>
													</thead>
													<tbody>
														<tr ng:repeat="dh in items" ng-if="dh.trangThai == 4">
															<td>{{dh.id}}</td>
															<td>{{dh.nguoiMua.email.email}}</td>
															<td>{{dh.ngayLap | date: "dd/MM/yyyy, HH:mm"}}</td>
															<td>{{dh.diaChi.dcChiTiet}},{{dh.diaChi.phuong}},{{dh.diaChi.quan}},{{dh.diaChi.tinh}}</td>
															<td>{{dh.ngayThanhToan | date: "dd/MM/yyyy, HH:mm"}}</td>
															<td><a data-toggle="modal" data-target="#seeMessage"
																class="btn btn-warning btn-block"
																ng-click="invoiceDetail(dh.id)">Chi tiết</a></td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
										<!-- Modal -->
										<div class="modal fade" id="seeMessage" tabindex="-1"
											role="dialog" aria-labelledby="exampleModalLabel"
											aria-hidden="true">
											<div class="modal-dialog" role="document">
												<div class="modal-content">
													<div class="modal-header">
														<h5 class="modal-title" id="exampleModalLabel">Chi
															tiết</h5>
														<button type="button" class="close" data-dismiss="modal"
															aria-label="Close">
															<span aria-hidden="true">&times;</span>
														</button>
													</div>
													<div class="modal-body">
														<table class="table-striped col-12">
															<tr ng:repeat="atv in activity">
																<td>{{atv.ngayCapNhat | date: "dd/MM/yyyy, HH:mm"}}</td>
																<td><span ng-if="atv.trangThai==1"><i
																		class='bx bx-notepad'></i> Chờ xử lý</span> <span
																	ng-if="atv.trangThai==2"><i class='bx bxs-truck'></i>
																		Đang vận chuyển</span> <span ng-if="atv.trangThai==3"><i
																		class='bx bxs-check-circle'></i> Giao hàng thành công</span>
																	<span ng-if="atv.trangThai==4"> <i
																		class='bx bxs-calendar-x'></i>Đã hủy đơn
																</span> <span ng-if="atv.trangThai==5"> <i
																		class='bx bxs-calendar-x'></i>Yêu cầu hủy đơn
																</span> <span ng-if="atv.trangThai==6"> <i
																		class='bx bxs-calendar-x'></i>Từ chối yêu cầu
																</span></td>
															</tr>

														</table>
														<table class="table table-bordered table-default">
															<tr>
																<th>Tên sản phẩm</th>
																<th>Số lượng</th>
																<th>Đơn giá</th>
																<th>Thành tiền</th>
															</tr>
															<tbody>
																<tr ng:repeat="item in ghct">
																	<td>{{item.maSanPham.tenSanPham}}</td>
																	<td>{{item.soLuong}}</td>
																	<td>{{item.donGia |number : 0}}</td>
																	<td>{{item.soLuong*item.donGia|number :0}}</td>
																</tr>
															</tbody>
															<tfoot>
																<tr>
																	<td colspan="6">Tổng tiền:
																		<h4>{{total() | number : 0}} VNĐ</h4>
																	</td>
																</tr>
															</tfoot>
														</table>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>



			</div>
		</div>
	</div>
	<script th:src="@{/js/management/order.js}"></script>

</body>
</html>