<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/Admin/layout:: viewAdmin(~{::body})}">
<head>
<meta charset="utf-8">
<head>
<!-- Mobile Specific Meta -->
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Favicon-->
<link rel="shortcut icon" href="img/fav.png">
<!-- Author Meta -->
<meta name="author" content="CodePixar">
<!-- Meta Description -->
<meta name="description" content="">
<!-- Meta Keyword -->
<meta name="keywords" content="">
<!-- meta character set -->
<meta charset="UTF-8">
<!-- Site Title -->
<title>T electronic device</title>

<!--
		CSS
		============================================= -->
<link rel="stylesheet" th:href="@{/css/linearicons.css}">
<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
<link rel="stylesheet" th:href="@{/css/themify-icons.css}">
<link rel="stylesheet" th:href="@{/css/bootstrap.css}">
<link rel="stylesheet" th:href="@{/css/owl.carousel.css}">
<link rel="stylesheet" th:href="@{/css/nice-select.css}">
<link rel="stylesheet" th:href="@{/css/nouislider.min.css}">
<link rel="stylesheet" th:href="@{/css/ion.rangeSlider.css}" />
<link rel="stylesheet" th:href="@{/css/ion.rangeSlider.skinFlat.css}" />
<link rel="stylesheet" th:href="@{/css/mainsp.css}">
</head>

<body>

	<!-- Start Header Area -->
	
	<!-- End Header Area --
	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div
				class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>
						Welcome To </br> Page Product Management
					</h1>

				</div>
			</div>
		</div>

	</section>
	<!-- End Banner Area -->

	<!--================Form Box Area =================-->
	<form action="#" th:action="@{/admin/product/search}"
		class=" col-6 offset-1 order-rable d-flex">
		<input th:name="name" type="text" class="form-control"
			id="search_input" placeholder="Tên Sản Phẩm">
		<button type="submit" class="btn btn-success offset-1">tìm</button>

	</form>
	<section class=" section_gap">
		<div class="">
			<div class="">
				<div class="search_input">
					<div class="container"></div>
				</div>
				<table class="table col-10 offset-1">
					<thead class="thead-white">
						<tr>
							<th scope="col">Mã SP</th>
							<th scope="col">Tên SP</th>
							<th scope="col">Hình Ảnh</th>
							<th scope="col">Loại</th>
							<th scope="col">Đơn Giá</th>
							<th scope="col">Số Lượng Tồn</th>
							<th scope="col">Trạng Thái</th>
							<th></th>
						</tr>
					</thead>

					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td><a class="btn btn-warning">Sửa</a> <a><span
								class="btn btn-danger">Xoá</span></a></td>

					</tr>
				</table>

			</div>
		</div>

	</section>
	<!--================End Login Box Area =================-->



	



	<script src="js/vendor/jquery-2.2.4.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
		integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
		crossorigin="anonymous"></script>
	<script src="js/vendor/bootstrap.min.js"></script>
	<script src="js/jquery.ajaxchimp.min.js"></script>
	<script src="js/jquery.nice-select.min.js"></script>
	<script src="js/jquery.sticky.js"></script>
	<script src="js/nouislider.min.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<!--gmaps Js-->
	<script
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
	<script src="js/gmaps.min.js"></script>
	<script src="js/main.js"></script>
</body>

</html>