<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/Admin/layout:: viewAdmin(~{::body})}">
<head>

</head>

<body ng-app="AdminSpApp" ng-controller="AdminSpCtrl">


	<!-- page content -->
	<div class="right_col" role="main">
		<div class="">
			<div class="page-title">
				<div class="title_left">
					<h3>Form Sản Phẩm</h3>
				</div>

				<div class="title_right"></div>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="row">
			<div class="col-md-12 col-sm-12 ">
				<div class="x_panel">
					<div class="x_title">
						<h2>
							Lưu trữ thông tin sản phẩm<small></small>
						</h2>
						<ul class="nav navbar-right panel_toolbox">
							<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
							</li>

							<li><a class="close-link"><i class="fa fa-close"></i></a></li>
						</ul>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">
						<br />
						<!-- <div class="row pull-left">
						<div class="col-sm-4 text-center">
						<label for="image">
						<img alt="" ng-src="{{'img/product/' + form.anhSanPham}}" style="max-width: 1000px; height: 200px;">
						</label>
						</div>
						</div> -->



						<form id="demo-form2" data-parsley-validate
							class="form-horizontal form-label-left" method="post"
							enctype="multipart/form-data" th:object="${sanpham}">

							<div class="item form-group" style="display: none;">
								<label class="col-form-label col-md-3 col-sm-3 label-align"
									for="id-product">Mã Sản Phẩm <span>*</span>
								</label>
								<div class="col-md-6 col-sm-6 ">
									<input ng-model="form.id" style="display: none;"
										readonly="true" type="text" id="" class="form-control ">
								</div>
							</div>
							<div class="item form-group">
								<label class="col-form-label col-md-3 col-sm-3 label-align"
									for="full-name">Tên Sản Phẩm<span>*</span>
								</label>
								<div class="col-md-6 col-sm-6 ">
									<input ng-model="form.tenSanPham" type="text" id=""
										name="full-name" class="form-control" required>
								</div>

							</div>
							<div class="item form-group custom-file">
								<label for=""
									class="col-form-label col-md-3 col-sm-3 label-align">Ảnh
									Sản Phẩm *</label>
								<div class="col-md-6 col-sm-6 ">
									<input id="file" class="file" type="file" name="file" 
										accept="image/png, image/jpeg"
										onchange="angular.element(this).scope().imageChanged(this.files)">

								</div>
							</div>
							<div class="item form-group ">
								<label class="col-form-label col-md-3 col-sm-3 label-align">Hãng
									Sản Phẩm *</label>
								<div class="col-md-6 col-sm-6 ">
									<select ng-model="form.nhaSanXuat.id">
										<option value=""><-- chọn hãng --></option>
										<option ng-repeat="item in nhasanxuats" ng-value="{{item.id}}">{{item.tenNsx}}</option>
									</select>
								</div>
							</div>
							<div class="item form-group">
								<label class="col-form-label col-md-3 col-sm-3 label-align"
									for="price">Đơn Giá<span>*</span>
								</label>
								<div class="col-md-6 col-sm-6 ">
									<input ng-model="form.donGia" type="number" id="last-name"
										name="price" class="form-control" required>
								</div>

							</div>
							<div class="item form-group">
								<label class="col-form-label col-md-3 col-sm-3 label-align"
									for="">Số Lượng<span>*</span>
								</label>
								<div class="col-md-6 col-sm-6 ">
									<input ng-model="form.soLuongTon" type="number" id="last-name"
										name="soLuong" class="form-control" required>
								</div>

							</div>
							<div class="item form-group">
								<label class="col-form-label col-md-3 col-sm-3 label-align"
									for="">Ram<span>*</span>
								</label>
								<div class="col-md-6 col-sm-6 ">
									<input ng-model="form.ram" type="number" id="last-name" name=""
										class="form-control" required>
								</div>

							</div>
							<div class="item form-group">
								<label class="col-form-label col-md-3 col-sm-3 label-align"
									for="">Rom<span>*</span>
								</label>
								<div class="col-md-6 col-sm-6 ">
									<input ng-model="form.rom" type="number" id="" name="rom"
										class="form-control" required>
								</div>

							</div>
							<div class="item form-group">
								<label class="col-form-label col-md-3 col-sm-3 label-align"
									for="">Pin<span>*</span>
								</label>
								<div class="col-md-6 col-sm-6 ">
									<input ng-model="form.pin" type="number" id="" name="soLuong"
										class="form-control" required>
								</div>

							</div>
							<div class="item form-group">
								<label class="col-form-label col-md-3 col-sm-3 label-align"
									for="full-name">Chip<span>*</span>
								</label>
								<div class="col-md-6 col-sm-6 ">
									<input ng-model="form.chip" type="text" id="" name=""
										class="form-control" required>
								</div>

							</div>
							<div class="item form-group">
								<label class="col-form-label col-md-3 col-sm-3 label-align"
									style="display: none;" for="full-name">Trạng Thái<span>*</span>
								</label>
								<div class="col-md-6 col-sm-6" style="display: none">
									<input ng-model="form.trangThai" type="radio" ng-value="true"
										name="option1" id="radio_con_hang"> Còn bán <label></label>
									<input ng-model="form.trangThai" type="radio" ng-value="false"
										name="option1" id="radio_het_hang"> Ngừng kinh doanh <label></label>
								</div>

							</div>

							<div class="ln_solid"></div>
							<div class="item form-group">
								<div class="col-md-6 col-sm-6 offset-md-3">

									<button ng-click="create()" type="submit"
										class="btn btn-success">Create</button>
									<button ng-click="update()" type="submit"
										class="btn btn-success">Update</button>
									<button ng-click="delete(form.id)" type="submit"
										class="btn btn-success">Delete</button>
									<button ng-click="reset()" type="submit"
										class="btn btn-success">Reset</button>
								</div>
							</div>

						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="row">
			<div class="page-title">
				<div class="title_left">
					<h3>
						Sản Phẩm <small>nơi lưu trữ thông tin sản phẩm</small>
					</h3>
				</div>

				<div class="title_right">
					<form>
						<div
							class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
							<div class="input-group">
								<input type="text" class="form-control" id="search_input"
									placeholder="Search for..."> <span
									class="input-group-btn">
									<button class="btn btn-secondary" type="submit" n>Go!</button>
								</span>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="col-md-12 col-sm-12 ">
				<div class="x_panel">
					<div class="x_title">
						<h2>
							Bảng Sản Phẩm <small>Products</small>
						</h2>
						<ul class="nav navbar-right panel_toolbox">
							<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
							</li>

							<li><a class="close-link"><i class="fa fa-close"></i></a></li>
						</ul>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">
						<div class="row">
							<div class="col-sm-12">
								<div class="card-box table-responsive">

									<table id="datatable"
										class="table table-striped table-bordered" style="width: 100%">
										<thead>
											<tr>
												<th>Mã SP</th>
												<th>Tên SP</th>
												<th>Hình Ảnh</th>
												<th>Hình Ảnh</th>
												<th>Hãng</th>
												<th>Đơn Giá</th>
												<th>Số Lượng Tồn</th>
												<th>Ram</th>
												<th>Rom</th>
												<th>Pin</th>
												<th>Chip</th>
												<th>Trạng Thái</th>
												<th>Action</th>

											</tr>
										</thead>


										<tbody>

											<tr ng-repeat="item in pager.items">
												<td>{{item.id}}</td>
												<td>{{item.tenSanPham}}</td>
												<td><img ng-src="{{'/img/product/' + item.anhSanPham}}"
													width="100px" height="100px" /></td>
												<td>{{item.anhSanPham}}</td>
												<td>{{item.nhaSanXuat.tenNsx}}</td>
												<td>{{item.donGia | number: 0}}</td>
												<td>{{item.soLuongTon}}</td>
												<td>{{item.ram}}</td>
												<td>{{item.rom}}</td>
												<td>{{item.pin}}</td>
												<td>{{item.chip}}</td>
												<td>{{item.trangThai? 'Còn bán' : 'Ngừng kinh doanh'}}</td>
												<td style="padding-left: 50px;"><a
													ng-click="edit(item.id)" class="btn btn-warning">Sửa</a> <a
													ng-click="delete(item.id)"><span class="btn btn-danger"
														onclick="return confirm('Bạn có chắc muốn xóa sản phẩm này?');">Xoá</span></a>
												</td>



											</tr>


										</tbody>
									</table>
									<div class="panel-footer text-center">
										<button ng-click="pager.first()" class="btn btn-danger">
											<b class="glyphicon glyphicon-hand-up"></b>
										</button>

										<button ng-click="pager.prev()" class="btn btn-danger">
											<b class="glyphicon glyphicon-hand-left"></b>
										</button>

										<button class="btn btn-success">{{pager.page + 1}} of
											{{pager.count}}</button>

										<button ng-click="pager.next()" class="btn btn-danger">
											<b class="glyphicon glyphicon-hand-right"></b>
										</button>

										<button ng-click="pager.last()" class="btn btn-danger">
											<b class="glyphicon glyphicon-hand-down"></b>
										</button>

									</div>
								</div>

							</div>

						</div>

					</div>

				</div>

			</div>
		</div>

	</div>




	<!-- /page content -->

	<!-- footer content -->

	<!-- /footer content -->
	<script th:src="@{/js/management/product.js}"></script>

</body>
</html>
