<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/User/layout.html :: dynamic(~{::body})}">
<head>

</head>

<body>

	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div
				class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Cart Page</h1>
					<nav class="d-flex align-items-center">
						<a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="#">Product<span class="lnr lnr-arrow-right"></span></a> <a
							href="chitiet.html">Cart</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

	<!--================Single Product Area =================-->
	<div class="col-md-10 offset-1">
		<h2 class="text-success">GIỎ HÀNG</h2>
		<div th:if="${#lists.size(listDC)}>0" class="">
			<label for="diaChiGiaoHang">Địa chỉ giao hàng:</label> <br> <select
				class="form-control" id="diaChiGiaoHang">
				<option class="" th:each="dc : ${listDC}" th:value="${dc.id}"
					th:text="${dc.dcChiTiet}+', '+${dc.phuong}+', '+${dc.quan}+', '+${dc.tinh}"></option>
			</select>
		</div>
		<br> <br>
		<!-- Button trigger modal -->
		<button type="button" class=" btn btn-primary" data-toggle="modal"
			data-target="#exampleModal">Thêm địa chỉ</button>

		<!-- Modal -->
		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Thêm địa chỉ
							mới</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form th:action="@{/address}" th:object="${address}"
							method="post">
							<div class="form-group">
								<label for="province">Tỉnh/Thành phố</label> <input
									class="form-control" id="tinh" th:field="*{tinh}">
							</div>
							<div class="form-group">
								<label for="district">Quận/Huyện</label> <input
									class="form-control" id="quan" th:field="*{quan}">
							</div>
							<div class="form-group">
								<label for="ward">Phường/Xã</label> <input class="form-control"
									th:field="*{phuong}" id="phuong">
							</div>
							<div class="form-group">
								<label for="address">Địa chỉ cụ thể</label>
								<textarea class="form-control" id="dcCuThe" th:field="*{dcChiTiet}"></textarea>
							</div>
							<button  type="submit" class="btn btn-primary">Thêm</button>


						</form>
					</div>
				</div>
			</div>
		</div>
		<br>
		<h4 class="text-danger" th:text="${messageSLSP}"></h4>
		<table class="table table-bordered table-default">
			<tr>
				<th></th>
				<th>Tên sản phẩm</th>
				<th>Hình ảnh</th>
				<th>Giá</th>
				<th>Số lượng</th>
				<th>Thành tiền</th>
				<th>Action</th>
			</tr>
			<tbody>

				 <tr th:each="item,iStat : ${listGH}">
					<td><input type="checkbox" th:checked="${item.chonMua}"
						th:onchange="|checkedProduct(this,'${item.maGioHang.id}','${item.maSanPham.id}')|"></td>
					<td th:text="*{item.maSanPham.tenSanPham}"></td>
					<td><img alt="not Found"
						th:src="@{/img/product/__*{item.maSanPham.anhSanPham}__}"
						height="100px"></td>
					<td
						th:text="*{#numbers.formatDecimal(item.maSanPham.donGia,0,'POINT',0,'POINT')}"></td>
					<td><input th:class="${item.soLuong}>${item.maSanPham.soLuongTon}? 'alert-danger' : ''"  id="soLuongSP" type="number"
						th:onchange="|updateCart(this,'${item.maGioHang.id}','${item.maSanPham.id}')|"
						th:value="*{item.soLuong}"> <br>
						<span th:text="'Số lượng còn lại: '+${item.maSanPham.soLuongTon}"></span>
						<br></td>
						
					<td
						th:text="*{#numbers.formatDecimal(item.maSanPham.donGia*item.soLuong,0,'POINT',0,'POINT')}"></td>
					<td class="text-white"><a class="btn btn-danger"
						th:onclick="|deleteProduct('${item.maGioHang.id}','${item.maSanPham.id}')|">Xóa</a></td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="6"
						th:text="'Tổng tiền: '+${#numbers.formatDecimal(total,0,'POINT',0,'POINT')+' VNĐ'}"></td>
				</tr>
			</tfoot>
		</table>

		<a th:if="${total}>0" th:onclick="order()" class="btn btn-success"
			style="margin-bottom: 10px; color: white">Đặt hàng</a> <br>
	</div>



	<script th:src="@{/js/vendor/jquery-2.2.4.min.js}"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
		integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
		crossorigin="anonymous"></script>
	<script th:src="@{/js/vendor/bootstrap.min.js}"></script>
	<script th:src="@{/js/jquery.ajaxchimp.min.js}"></script>
	<script th:src="@{/js/jquery.nice-select.min.js}"></script>
	<script th:src="@{/js/jquery.sticky.js}"></script>
	<script th:src="@{/js/nouislider.min.js}"></script>
	<script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
	<script th:src="@{/js/owl.carousel.min.js}"></script>

	<!--gmaps Js-->
	<script
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
	<script th:src="@{/js/gmaps.min.js}"></script>
	<script th:src="@{/js/main.js}"></script>
	<script th:src="@{/js/controller/cart-app.js}"></script>
	<script th:src="@{/js/controller/order.js}"></script>
	<script th:src="@{/js/controller/address.js}"></script>


</body>

</html>