<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/User/layout.html :: dynamic(~{::body})}">
<head>

</head>

<body>

	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div
				class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Cart Page</h1>
					<nav class="d-flex align-items-center">
						<a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="#">Product<span class="lnr lnr-arrow-right"></span></a> <a
							href="chitiet.html">Cart</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

	<!--================Single Product Area =================-->
	<div class="col-md-10 offset-1">
		<h2 class="text-success">GIỎ HÀNG</h2>
		<div th:if="${#lists.size(listDC)}>0" class="">
			<label for="diaChiGiaoHang">Địa chỉ giao hàng:</label> <br> <select
				class="form-control" id="diaChiGiaoHang">
				<option class="" th:each="dc : ${listDC}" th:value="${dc.id}"
					th:text="${dc.dcChiTiet}+', '+${dc.phuong}+', '+${dc.quan}+', '+${dc.tinh}"></option>
			</select>
		</div>
		<br> <br>
		<!-- Button trigger modal -->
		<button type="button" class=" btn btn-primary" data-toggle="modal"
			data-target="#exampleModal">Thêm địa chỉ</button>

		<!-- Modal -->
		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form action="/submit" method="post">
							<select name="province" id="province">
								<option value="">Select Province</option>
							</select> <select name="district" id="district" disabled>
								<option value="">Select District</option>
							</select> <select name="ward" id="ward" disabled>
								<option value="">Select Ward</option>
							</select>
							<textarea name="address" rows="3"></textarea>
							<input type="submit" value="Submit">
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary">Save
							changes</button>
					</div>
				</div>
			</div>
		</div>
		<br>
		<h4 class="text-danger" th:text="${messageSLSP}"></h4>
		<table class="table table-bordered table-default">
			<tr>
				<th></th>
				<th>Tên sản phẩm</th>
				<th>Hình ảnh</th>
				<th>Giá</th>
				<th>Số lượng</th>
				<th>Thành tiền</th>
				<th>Action</th>
			</tr>
			<!-- <tbody>

				<tr th:each="item, iStat : ${cartSP}">
					<td th:text="${item.maSanPham.tenSanPham}"></td>
					<td><img alt=""
						th:src="@{/img/product/__${item.maSanPham.anhSanPham}__}"
						height="100px"></td>
					<td th:text="${item.maSanPham.donGia}"></td>
					<td><input type="number" onchange="capNhatSLSP(this)"
						th:value="${item.soLuong}"> <br> <a
						th:if="${item.soLuong}==${item.maSanPham.soLuongTon}">*Số
							lượng tối đa có thể đặt</a></td>
					<td class="amount"
						th:text="${#numbers.formatInteger(item.maSanPham.donGia*item.soLuong,0)}">
					</td>
					<td class="text-danger"><a
						th:href="@{/cart/item/delete?maGioHang=__${item.maGioHang.id}__&maSanPham=__${item.maSanPham.id}__}"
						onclick="return confirm('Bạn có chắc muốn xóa sản phẩm này khỏi giỏ hàng?');"
						th:text="Xóa"></a></td>
				</tr>
			</tbody>
			-->
			<tbody>

				<tr th:each="item,iStat : ${listGH}">
					<td><input type="checkbox" th:checked="${item.chonMua}" th:onchange="|checkedProduct(this,'${item.maGioHang.id}','${item.maSanPham.id}')|"></td>
					<td th:text="*{item.maSanPham.tenSanPham}"></td>
					<td><img alt="not Found"
						th:src="@{/img/product/__*{item.maSanPham.anhSanPham}__}"
						height="100px"></td>
					<td
						th:text="*{#numbers.formatDecimal(item.maSanPham.donGia,0,'POINT',0,'POINT')}"></td>
					<td><input id="soLuongSP" type="number"
						th:onchange="|updateCart(this,'${item.maGioHang.id}','${item.maSanPham.id}')|"
						th:value="*{item.soLuong}"> <br></td>
					<td
						th:text="*{#numbers.formatDecimal(item.maSanPham.donGia*item.soLuong,0,'POINT',0,'POINT')}"></td>
					<td class="text-white"><a class="btn btn-danger"
						th:onclick="|deleteProduct('${item.maGioHang.id}','${item.maSanPham.id}')|">Xóa</a></td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="6"
						th:text="'Tổng tiền: '+${#numbers.formatDecimal(total,0,'POINT',0,'POINT')+' VNĐ'}"></td>
				</tr>
			</tfoot>
		</table>

		<a th:href="@{/invoice/index}"
			onclick="return confirm('Xác nhận đặt hàng?');"
			class="btn btn-success" style="margin-bottom: 10px; color: white">Đặt
			hàng</a> <br>

	</div>



	<script th:src="@{/js/vendor/jquery-2.2.4.min.js}"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
		integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
		crossorigin="anonymous"></script>
	<script th:src="@{/js/vendor/bootstrap.min.js}"></script>
	<script th:src="@{/js/jquery.ajaxchimp.min.js}"></script>
	<script th:src="@{/js/jquery.nice-select.min.js}"></script>
	<script th:src="@{/js/jquery.sticky.js}"></script>
	<script th:src="@{/js/nouislider.min.js}"></script>
	<script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
	<script th:src="@{/js/owl.carousel.min.js}"></script>

	<!--gmaps Js-->
	<script
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
	<script th:src="@{/js/gmaps.min.js}"></script>
	<script th:src="@{/js/main.js}"></script>
	<script th:src="@{/js/controller/cart-app.js}"></script>

	<script>
		function capNhatSLSP(input) {
			var tenSanPham = $(input).closest('tr').find('td:eq(0)').text();
			var donGia = $(input).closest('tr').find('td:eq(2)').text();
			var soLuong = $(input).val();
			var thanhTien = donGia * soLuong;
			$(input).closest('tr').find('.amount').text(thanhTien);

			$.ajax({
				url : "/cart/item/update",
				type : "POST",
				data : {
					tenSanPham : tenSanPham,
					soLuong : soLuong
				},
				success : function(response) {
					location.reload();
				},
				error : function(xhr) {
					console.log(xhr.responseText);
					location.reload();

				}
			});
		}

		function onSelectProvince(event) {
			var province = event.target.value;
			// Get the districts for the selected province.
			var request = new google.maps.Geocoder();
			request
					.geocode(
							{
								address : province
							},
							function(results, status) {
								if (status === google.maps.GeocoderStatus.OK) {
									// Get the first district.
									var district = results[0].address_components[1].long_name;
									// Set the value of the district select to the first district.
									document.getElementById("district").value = district;
									// Enable the district select.
									document.getElementById("district").disabled = false;
								} else {
									// Display an error message.
									alert("There was an error getting the districts for the selected province.");
								}
							});
		}
	</script>
</body>

</html>