<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/User/layout.html :: dynamic(~{::body})}">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!-- Meta, title, CSS, favicons, etc. -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="images/favicon.ico" type="image/ico" />

<title>Admin</title>


</head>

<body ng-app="AdminPfApp" ng-controller="AdminPfCtrl">


	<br>
	<br>
	<br>
	<br>
	<!-- page content -->
	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div
				class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Update Profile</h1>
					<nav class="d-flex align-items-center">
						<a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="category.html">Profile</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

	<!--================Login Box Area =================-->
	<section class="login_box_area section_gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="login_form_inner">
						<h3>Your Profile</h3>
						<form class="row login_form" action="" object="khachHang" method="post"
							novalidate="novalidate">

							<label class="col-form-label  label-align"
								style="padding-left: 15px;" for="full-name">Fullname </label>
							<div class="col-md-12 form-group">
								<input ng-if="editProfile==0" ng-model="khachHang.tenKhachHang"
									type="text" class="form-control" name="username"
									readonly="true"> <input ng-if="editProfile==1"
									ng-model="khachHang.tenKhachHang" type="text"
									class="form-control" name="username">

							</div>
							<label class="col-form-label  label-align"
								style="padding-left: 15px;" for="full-name">Phone </label>
							<div class="col-md-12 form-group">
								<input ng-if="editProfile==0" ng-model="khachHang.soDienThoai"
									ng-type="number" name="phone" class="form-control"
									readonly="true"> <input ng-if="editProfile==1"
									ng-model="khachHang.soDienThoai" ng-type="number" name="phone"
									class="form-control">
							</div>
							<label class="col-form-label  label-align"
								style="padding-left: 15px;" for="full-name">Email </label>
							<div class="col-md-12 form-group">
								<input ng-model="khachHang.email.email" type="text" name="Email"
									class="form-control" readonly="true">
							</div>
							<label class="col-form-label  label-align"
								style="padding-left: 15px;" for="full-name">Điểm tích
								lũy </label>
							<div class="col-md-12 form-group">
								<input ng-model="khachHang.diemTichLuy" type="text"
									class="form-control" readonly="true">

							</div>
						</form>

						<button ng-if="editProfile==1" ng-click="update()"
							class="btn btn-primary">Save</button>
						<button ng-if="editProfile==1" ng-click="edit(editProfile)"
							class="btn btn-primary">Cancel</button>
						<button ng-if="editProfile==0" ng-click="edit(editProfile)"
							class="btn btn-primary">Edit</button>

					</div>


				</div>
				<div class="col-lg-6">
					<div class="login_form_inner">
						<h3>Your Address</h3>
						<div ng-if="editAddress==false">
							<table class="table  table-bordered">
								<tr>
									<th>Địa chỉ</th>
									<th>Action</th>
								</tr>
								<tr ng-repeat="item in diaChi">
									<td>{{item.dcChiTiet}}, {{item.phuong}}, {{item.quan}},
										{{item.tinh}}</td>
									<td> <a class="btn btn-danger">Xóa</a></td>
								</tr>
							</table>
							<a class="btn btn-info" ng-click="editADR(item.tinh)">Thêm địa chỉ</a>
						</div>

						<form ng-if="editAddress==true" action="" th:object="${form}"
							method="post">
							<div class="form-group">
								<label for="province">Tỉnh/Thành phố</label> <select
									ng-change="load_quan()" class="col-10 offset-1 form-control"
									ng-model="form.tinh">
									<option ng-repeat="item in tinh" ng-value="item.tenTinh">{{item.tenTinh}}</option>
								</select>
							</div>
							<div class="form-group">
								<label for="district">Quận/Huyện</label> <select
									ng-change="load_phuong()" class="col-10 offset-1 form-control"
									ng-model="form.quan">
									<option ng-repeat="item in quan" ng-value="item.tenQuan">{{item.tenQuan}}</option>
								</select>
							</div>
							<div class="form-group">
								<label for="ward">Phường/Xã</label> <select
									class="col-10 offset-1 form-control" ng-model="form.phuong">
									<option ng-repeat="item in phuong" ng-value="item.tenPhuong">{{item.tenPhuong}}</option>
								</select>
							</div>
							<div class="form-group">
								<label for="address">Địa chỉ cụ thể</label>
								<textarea rows="5" cols="5" class="col-10 offset-1 form-control"
									id="dcCuThe" ng-model="form.dcChiTiet"></textarea>
							</div>
							<a class="btn btn-primary" ng-click="create_address()">Thêm</a>
							<button class="btn btn-primary" ng-click="editADR(editAddress)">Cancel</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Login Box Area =================-->


	</div>






	<script th:src="@{/js/management/profile.js}"></script>
</body>
</html>
