<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Insert title here</title>
</head>
<body>
<footer th:fragment="userFooter" class="footer-area section_gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-3  col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h6>About Us</h6>
						<p>T Electronic Device is an authorized company to act as the
							main representative and distributor of high quality electronic
							and industrial electrical products and services in Vietnam
							market.</p>
						<!-- </p>The brands distributed by the company are world famous, including: Samsung, Apple, Lenovo...
						</p> -->
					</div>
				</div>
				<div class="col-lg-4  col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h6>Newsletter</h6>
						<p>Stay update with our latest</p>
						<div class="" id="mc_embed_signup">

							<form target="_blank" novalidate="true"
								action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
								method="get" class="form-inline">

								<div class="d-flex flex-row">

									<input class="form-control" name="EMAIL"
										placeholder="Enter Email" onfocus="this.placeholder = ''"
										onblur="this.placeholder = 'Enter Email '" required=""
										type="email">


									<button class="click-btn btn btn-default">
										<i class="fa fa-long-arrow-right" aria-hidden="true"></i>
									</button>
									<div style="position: absolute; left: -5000px;">
										<input name="b_36c4fd991d266f23781ded980_aefe40901a"
											tabindex="-1" value="" type="text">
									</div>

									<!-- <div class="col-lg-4 col-md-4">
												<button class="bb-btn btn"><span class="lnr lnr-arrow-right"></span></button>
											</div>  -->
								</div>
								<div class="info"></div>
							</form>

						</div>
					</div>
				</div>
				<div class="col-lg-3  col-md-6 col-sm-6">
					<div class="single-footer-widget mail-chimp">
						<h6 class="mb-20">Nationwide Branch</h6>
						<ul>
							<li><p>72 Võ Văn Kiệt, Bình Thùy, Cần Thơ</p></li>
							<li><p>172 Cái Khế, Ninh Kiều, Cần Thơ</p></li>
							<li><p>108 An Dương Vương, Q1, TPHCM</p></li>
							<li><p>97 Kha Vạn Cân, Thủ Đức, TPHCM</p></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-2 col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h6>Follow Us</h6>
						<p>Let us be social</p>
						<div class="footer-social d-flex align-items-center">
							<a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i
								class="fa fa-twitter"></i></a> <a href="#"><i
								class="fa fa-dribbble"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div
				class="footer-bottom d-flex justify-content-center align-items-center flex-wrap">
				<p class="footer-text m-0">
					T Electronic equipment always accompanies you <i
						class="fa fa-heart-o" aria-hidden="true"></i>

				</p>
			</div>
		</div>
	</footer>

	<footer >
				<div class="pull-right" th:fragment="adminFooter">
					Website Bán Hàng Điện Thoại - Được thực hiên bởi <a href="https://colorlib.com"> Dev Team 3T</a>
				</div>
				<div class="clearfix"></div>
			</footer>
</body>
</html>